<footer>
    <div class="container">
        <p> Created By Hua Ton Dat</p>
        <div class="social-media">
            <div class="social__title">
                Social Media
            </div>
            <div class="line"></div>
            <div class="social__content">
                <ul class="social__list">
                    <li class="social__item">
                        <a href="https://facebook.com/aquariusdat" class="social__link">
                            <img src="img/facebook.svg" alt="">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://facebook.com/aquariusdat" class="social__link">
                            <img src="img/instagram.svg" alt="">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://facebook.com/aquariusdat" class="social__link">
                            <img src="img/linkedin.svg" alt="">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://facebook.com/aquariusdat" class="social__link">
                            <img src="img/github-sign.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>